.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  /* overflow-x: hidden; */
}
.top-screen {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  background-image: url('../src/assets/img/mario-bg-top.jpg');
  background-size: 100% auto;
  background-position-y: bottom;
  width: 100%;
  height: 70vh;
  overflow-x: hidden;
}
.ground {
  background-image: url('../src/assets/img/mario-bg-bottom.jpg');
  height: 30vh;
  width: 100%;
  background-color: bisque;
}
.entities {
  height: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-style: solid 1px;
}
.sliding-background {
  background: url('https://stmed.net/sites/default/files/jojo%27s-bizarre-adventure-wallpapers-25916-9961975.jpg')
    repeat-x;
  height: 500px;
  width: 5760px; /* The image width times 3 */
  animation: slide 10s linear infinite;
}
.countdown {
  font-family: 'RD_CHULAJARUEK';
  position: absolute;
  z-index: 10;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 270px;
  font-weight: 600;
}
.finished-screen {
  font-family: 'RD_CHULAJARUEK';
  position: absolute;
  z-index: 10;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: 600;
}
.back-button {
  animation: blinker;
  animation: blinker 0.5s;
  /* animation-timing-function: ease-in-out; */
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1920px, 0, 0); /* The image width */
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
